// ===========================================
// -           V A R I A B L E S
// ===========================================

// <-- FONTS -->
$pacifico: 'Pacifico', cursive;
$noto: 'Noto Sans', sans-serif;
$king: 'Loved by the King', cursive;

// <-- COLORS -->
$grey: #5c5c5c;
$white: #fff;
$orange: #f27649;
$red-orange: #ff004c;


// <-- EFFECTS -->
$shadow: rgba(0, 0, 0 , .45);
