// ===========================================
// -             M I X I N S
// ===========================================
@mixin animation-transition {
    display: block;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}

@mixin rounded {
    border-radius: 100px;
}

@mixin rounded-slight {
    border-radius: 3px;
}



@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin title-cursive {
    font-size: 3.8rem;
    font-family: $pacifico;
}

@mixin animation-jerk-fix {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}