// ===========================================
// -           V A R I A B L E S
// ===========================================

// <-- FONTS -->
$pacifico: 'Pacifico', cursive;
$noto: 'Lato', sans-serif;
$default-font-size: 1.6rem;

// <-- COLORS -->
$grey: #707070;
$white: #fff;
$black: #000;
$orange: #ffa42d;
$pink-orange: #fa8072;
$red-orange: #ff004c;
$snow: #9ed6ff;
$ice: #803cff;
$winter: #a090ff;
$grass: #7ed56f;
$sun: #ddb500;
$forest: #aec73e;
$foam: #00e4c5;
$water: #005f96;
$sea: #14a9b5;
// gradients
$grapefruit-gradient: linear-gradient(to right, $orange, $red-orange);
$winter-gradient: linear-gradient(to right bottom, $snow, $ice);
$forest-gradient: linear-gradient(to right bottom, $sun, $grass);
$sea-gradient: linear-gradient(to right bottom, $foam, $water);


// <-- EFFECTS -->
$shadow-light: rgba(0, 0, 0 , .25);
$shadow: rgba(0, 0, 0 , .45);
$shadow-dark: rgba(0, 0, 0 , .65);


// <-- GRID -->
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;