// ===========================================
// -             M I X I N S
// ===========================================
@mixin animation-transition {
    display: block;
    animation-duration: .8s;
    animation-timing-function: ease-out;
}

@mixin rounded {
    border-radius: 10rem;
}

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin title-cursive {
    font-size: 3.8rem;
    font-family: $pacifico;
}