// ===========================================
// -             M I X I N S
// ===========================================
@mixin animation-transition {
    display: block;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}


@mixin rounded-slight {
    border-radius: 3px;
}
@mixin rounded {
    border-radius: 100px;
}
@mixin circle {
    border-radius: 50%;
}


@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
@mixin center-hv {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

@mixin title-cursive {
    font-size: 3.8rem;
    font-family: $pacifico;
}

@mixin animation-jerk-fix {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}