// ===========================================
// -             B U T T O N S
// ===========================================

.button {
    font-weight: 400;
    letter-spacing: .4rem;
    position: relative;
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        -webkit-transition: all .2s;
        transition: all .2s;
        @include rounded;
    }
    &:hover {
        -webkit-transform: translateY(-.4rem);
                transform: translateY(-.4rem);
        -webkit-box-shadow: 0 1rem 2rem $shadow;
                box-shadow: 0 1rem 2rem $shadow;
        &::after {
            -webkit-transform: scalex(1.4) scaleY(1.6);
                    transform: scalex(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        -webkit-transform: translateY(-.1rem);
                transform: translateY(-.1rem);
        -webkit-box-shadow: 0 1rem .8rem $shadow;
                box-shadow: 0 1rem .8rem $shadow;
    }
    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        @include rounded;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    &--white {
        border: .6rem solid $white;
        color: $white;
        &:hover {
            background-color: $white;
            color: $orange;
            &::after {
                background-color: $white;
            }
        }
    }
    &--animated {
        -webkit-animation: fadeInBottom .5s ease-out .75s;
                animation: fadeInBottom .5s ease-out .75s;
        -webkit-animation-fill-mode: backwards;
                animation-fill-mode: backwards;
    }
}


