.card {
    position: relative;
    height: 52rem;
    -webkit-perspective: 150rem;
            perspective: 150rem;
    &__side {
        background-color: $pink-orange;
        width: 100%;
        height: 52rem;
        position: absolute;
        top: 0;
        left: 0;
        @include rounded-slight;
        overflow: hidden;
        -webkit-box-shadow: 0 1.5rem 4rem $shadow-light;
                box-shadow: 0 1.5rem 4rem $shadow-light;
        @include animation-jerk-fix;
        -webkit-transition: all .9s ease;
                transition: all .9s ease;
        &--front {
            background-color: $white;
        }
        &--back {
            -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
            &-1 {
                background-image: $sea-gradient;
            }
            &-2 {
                background-image: $forest-gradient;
            }
            &-3 {
                background-image: $winter-gradient;
            }
        }
    }
    &:hover &__side--front {
        -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }

    // FRONT OF CARD ==================>
    &__picture {
        background-size: cover;
        background-position: center;
        background-blend-mode: screen;
        height: 23rem;

        &--1 {
            background-image: $sea-gradient, url(../dist/images/adventure-water.jpg);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }
        &--2 {
            background-image: $forest-gradient, url(../dist/images/adventure-forest.jpg);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }
        &--3 {
            background-image: $winter-gradient, url(../dist/images/adventure-snow.jpg);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-align: right;
        text-transform: uppercase;
        color: $white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        z-index: 10;
    }
    &__heading-span {
        @include rounded-slight;
        padding: 1rem 2.5rem;
        -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
        &--1 {
            background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($foam,.8)), to(rgba($water, .8)));
            background-image: linear-gradient(to right bottom, rgba($foam,.8), rgba($water, .8));
        }
        &--2 {
            background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($sun,.8)), to(rgba($grass, .8)));
            background-image: linear-gradient(to right bottom, rgba($sun,.8), rgba($grass, .8));
        }
        &--3 {
            background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($snow,.8)), to(rgba($ice, .8)));
            background-image: linear-gradient(to right bottom, rgba($snow,.8), rgba($ice, .8));
        }
    }
    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: .1rem solid lighten($grey, 52%);
                }
            }
        }
        &-span {
            &--1 {
                color: $sea;
            }
            &--2 {
                color: $forest;
            }
            &--3 {
                color: $winter;
            }
        }
    }

    // BACK OF CARD ==================>
    &__call-to-action {
        @include absolute-center;
        width: 90%;
        text-align: center;
    }
    &__price-box {
        color: $white;
        text-align: center;
        margin-bottom: 8rem;
    }
    &__price-only {
        font-size: 1.5rem;
        font-family: $pacifico;
        letter-spacing: .2rem;
    }
    &__price-value {
        font-size: 12rem;
        font-weight: 100;
    }
    &__button {
        letter-spacing: .05rem;
        &--1 {
            &:hover {
                color: $sea;
            }
        }
        &--2 {
            &:hover {
                color: $forest;
            }
        }
        &--3 {
            &:hover {
                color: $winter;
            }
        }
    }


    // MEDIA QUERY
    @include layout(tablet-p) {
        height: auto;
        @include rounded-slight;
        background-color: $white;
        -webkit-box-shadow: 0 1.5rem 4rem $shadow;
                box-shadow: 0 1.5rem 4rem $shadow;
       
        &__side {
            height: auto;
            position: relative;
            -webkit-box-shadow: none;
                    box-shadow: none;

            &--back {
                -webkit-transform: rotateY(0);
                        transform: rotateY(0);
                -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }
        &:hover &__side--front {
            -webkit-transform: rotateY(0);
                    transform: rotateY(0);
        }
        &__details {
            padding: 1rem 3rem;
        }
        // BACK OF CARD ==================>
        &__call-to-action {
            position: relative;
            top: 0%;
            left: 0;
            -webkit-transform: translate(0);
                    transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }
        &__price-box {
            margin-bottom: 4rem;
        }
        &__price-value {
            font-size: 12rem;
        }
    }
}