// ===========================================
// -                B A S E
// ===========================================
body {
    font-family: $noto;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $grey;
    padding: 3rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}