// ===========================================
// -               I M A G E S
// ===========================================
.composition {
    position: relative;
    &__image {
        width: 55%;
        -webkit-box-shadow: 0 1.5rem 4rem $shadow;
                box-shadow: 0 1.5rem 4rem $shadow;
        border-radius: .2rem;
        position: absolute;
        z-index: 10;
        -webkit-transition: all .2s;
        transition: all .2s;
        outline-offset: 1.5rem;
        &--image1 {
            left: 0;
            top: -2rem;
        }
        &--image2 {
            right: -5%;
            top: 2rem;
        }
        &--image3 {
            left: 23%;
            top: 10rem;
        }
        &:hover {
            outline: 1.5rem solid $pink-orange;
            -webkit-transform: scale(1.15) translateY(-.5rem);
                    transform: scale(1.15) translateY(-.5rem);
            -webkit-box-shadow: 0 2.5rem 4rem $shadow;
                    box-shadow: 0 2.5rem 4rem $shadow;
            z-index: 20;
        }
    }
    &:hover &__image:not(:hover) {
        -webkit-transform: scale(.9);
                transform: scale(.9);
        -webkit-filter: blur(.15rem);
                filter: blur(.15rem);
    }
}