// ===========================================
// -           H O M E - P A G E
// ===========================================

// ======================
// <-- ABOUT -->
// ======================
section.about {
    background-color: $white;
    padding: 25rem 0;
    margin-top: -20vh;

    @include layout(tablet-p) {
        padding: 25rem 0 10rem 0;
    }  
}

.section-title {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .3rem;
    padding-bottom: .3rem;
    display: inline-block;
    background-image: $grapefruit-gradient;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;

    span {

        @include title-cursive;
        font-size: 3rem;
    }

    @include layout(tablet-p) {
        font-size: 3rem;
    }

    @include layout(phone) {
        font-size: 2.5rem;
        span {
            font-size: 2.5rem;
        }
    }
}

.sub-heading {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
// ======================
// <-- FEATURES -->
// ======================
section.features {
    padding: 20rem 0 10rem 0;
    background-image: -webkit-gradient(
        linear, 
        left top, right bottom, 
        from(rgba($orange, .5)), 
        to(rgba($red-orange, .5))),
        url(../dist/images/bg-features.jpg);
    background-image: linear-gradient(
        to right bottom, 
        rgba($orange, .5), 
        rgba($red-orange, .5)),
        url(../dist/images/bg-features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
       
    margin-top: -3rem;
    // transform: skewY(-7deg);
    // & > * {
    //     transform: skewY(7deg);
    // }
}

// ======================
// <-- ADVENTURES-->
// ======================
section.adventures {
    padding: 10rem 0 15rem 0;
    background-color: $white;

    @include layout(tablet-p) {
        padding: 5rem 0 10rem 0;
    }
}

// ======================
// <-- TESTIMONIALS-->
// ======================
section.testimonials {
    background-image: linear-gradient(
        to right bottom, 
        rgba($white, .8), 
        rgba($white, .8)),
        url(../dist/images/bg-testimonial.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 1%;
    background-attachment: fixed;
    padding: 15rem 0;
    position: relative;

    @include layout(tablet-p) {
        padding: 5rem 0 10rem 0;
    }
}

// ======================
// <-- BOOKING -->
// ======================
section.booking {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $orange, $red-orange);

    @include layout(tablet-p) {
        padding: 10rem 0;
    }
}

.book {
    background-image: linear-gradient(105deg, rgba($white, .9)0%, rgba($white, .85)50%, transparent 50%),url(../dist/images/bg-booking-form.png);
    background-position: 70% 40%;
    background-repeat: no-repeat;
    background-size: cover;

    @include rounded-slight;
    box-shadow: 0 1.5rem 8rem $shadow-darkest;

    @include layout(tablet-l) {
        background-image: linear-gradient(105deg, rgba($white, .9)0%, rgba($white, .85)65%, transparent 65%),url(../dist/images/bg-booking-form.png);
    }
    @include layout(tablet-p) {
        background-image: linear-gradient(to right, rgba($white, .9)0%, rgba($white, .85)100%),url(../dist/images/bg-booking-form.png);
    }
    &__form {
        width: 50%;
        padding: 3rem 6rem 6rem 6rem;

        @include layout(tablet-l) {
            width: 65%;
        }

        @include layout(tablet-p) {
            width: 100%;
        }
    }
}