// ===========================================
// -        H E A D E R - S E C T I O N
// ===========================================
.header {
    height: 95vh;
    background-image: -webkit-gradient(
        linear, 
        left top, right bottom, 
        from(rgba($orange, .6)), 
        to(rgba($red-orange, .6))),
        url(../dist/images/bg-header.jpg);
    background-image: linear-gradient(
        to right bottom, 
        rgba($orange, .6), 
        rgba($red-orange, .6)),
        url(../dist/images/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 26%;
    background-attachment: fixed;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    @include layout(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
    position: relative;
    &__logo-wrap {
        position: absolute;
        top: 1.5rem;
        left: 3.5rem;
    }
    &__logo {
        height: 13.5rem;
    }
    &__text-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        @include center-hv;
        text-align: center;
    }
}

.header-title {
    color:$white;
    text-transform: uppercase;
    font-weight: 700;
    @include animation-jerk-fix;
    margin-bottom: 6rem;

    &--main {
        font-family: $pacifico;
        font-size: 8rem;
        letter-spacing: 4rem;
        font-weight: 400;
        -webkit-animation-name: fadeInLeft;
                animation-name: fadeInLeft;
        @include animation-transition;
        @include layout(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }
    &--sub {
        font-size: 2rem;
        letter-spacing: 1.2rem;
        -webkit-animation-name: fadeInRight;
                animation-name: fadeInRight;
        @include animation-transition;
        @include layout(phone) {
            letter-spacing: .2rem;
        }
    }
}
