// ===========================================
// -           V A R I A B L E S
// ===========================================

// <-- FONTS -->
$pacifico: 'Pacifico', cursive;
$noto: 'Noto Sans', sans-serif;

// <-- COLORS -->
$grey: #5c5c5c;
$white: #fff;
$orange: #f27649;
$red-orange: #d94925;

// <-- EFFECTS -->
$shadow: rgba(0, 0, 0 , .45);
